* {
  margin: 0;
  padding: 0;
}
body {
  background: #579ff7;
  font-size: 14px;
  background-image: url(client-side/assets/spaceBackground.jpg);
}
.container {
  width: 70%;
  margin: 50px auto;
}
.contact-box {
  background: #fff;
  display: flex;
}
.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
  margin-bottom: 15px;
}
h1 {
  margin-bottom: 20px;
  font-weight: bolder;
  color: white;
}
.container p {
  margin-bottom: 40px;
  color: white;
  font-weight: bolder;
  font-size: large;
}
.input-row {
  justify-content: space-around;
  margin-bottom: 20px;
}
.input-row,
input-group {
  flex-basis: 45%;
  margin-bottom: 15px;
  margin-top: 10px;
}
input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}
textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}
button {
  background: #053e93;
  width: 100px;
  border: none;
  color: white;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
}
.contact-left h3 {
  margin-bottom: 30px;
}
