body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#starfield {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  left: 0px;
  top: 0px;
}
#gamecontainer {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#gamecanvas {
  width: 800px;
  height: 600px;
}
#info {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

:link,
:visited,
ins {
  text-decoration: none;
}
nav ul,
nav ol {
  list-style: none;
}
dl,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
html,
body,
pre,
p,
blockquote,
form,
fieldset,
input,
label {
  margin: 0;
  padding: 0;
}
abbr,
img,
object,
a img,
:link img,
:visited img,
a object,
:link object,
:visited object {
  border: 0;
}
address,
abbr {
  font-style: normal;
}
iframe:not(.auto-link) {
  display: none !important;
  visibility: hidden !important;
  margin-left: -10000px !important;
}
a {
  color: #0088cc;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1,
h2,
h3 {
  line-height: 40px;
}

h1 {
  font-size: 38.5px;
}

h2 {
  font-size: 31.5px;
}

h3 {
  font-size: 24.5px;
}

h4 {
  font-size: 17.5px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11.9px;
}
